<div class="container justify-content-center ">

  <div class="page-wrapper">
      <div class="needle-wrapper">
        <div class="base"></div>
        <div class="lines">
          <div class="vertical"></div>
      
          <div class="horizontal"></div>
        </div>
      </div>
      <div class="disk-wrapper">
        <div class="light-left"></div>
        <div class="light-right"></div>
        <div class="disk">
          <div class="half-circle-top"></div>
          <div class="half-circle-bottom"></div>
          <div class="separator"></div>
          <div class="inner-circle">
            <span>4</span>
            <div class="dot"></div>
            <span>4</span>
          </div>
        </div>
      </div>
  </div>
  <div class="error">Uh oh! Looks like we've skipped a beat </div>
</div> 