<div class="container text-center">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-6">
            <h2 [style]="fonts">FORGOT PASSWORD</h2>
            <form [formGroup]="forgotForm" (ngSubmit)="onsubmitLink()">
                <mat-form-field class="example-full-width pb-1">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" name="email" id="email" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="forgotForm.get('email')?.hasError('email') && forgotForm.get('email')?.touched">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="forgotForm.get('email')?.hasError('required') && forgotForm.get('email')?.touched">
                      Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="forgotForm.get('email')?.hasError('pattern') && forgotForm.get('email')?.touched">
                        Email is <strong>not valid</strong>
                      </mat-error>
                  </mat-form-field>
                  
                <mat-form-field class="example-full-width pb-1">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dob" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="forgotForm.get('dob')?.hasError('required') && forgotForm.get('dob')?.touched">
                      Date of birth is required
                    </mat-error>
                  </mat-form-field>

                 
                  <div class="d-flex flex-row justify-content-center align-items-center p-0" >
                    <a routerLink="../login" class="ms-auto text-decoration-none">Back?</a>
                  </div>
                  <button mat-flat-button [style]="btn" [disabled]="forgotForm.invalid">Get Link</button>
            </form>
        </div>
    </div>
</div>