<div class="container text-center">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-6">
            <h2 [style]="fonts">RESET PASSWORD</h2>
            <form class="example-form" [formGroup]="resetForm" (ngSubmit)="onsubmit()">
                <mat-form-field  class="example-full-width pb-1">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="pwd">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  
                    <mat-error *ngIf="resetForm.get('pwd')?.hasError('required') && resetForm.get('pwd')?.touched">
                      Password is required
                    </mat-error>
                    <mat-error *ngIf="resetForm.get('pwd')?.hasError('minlength') && resetForm.get('pwd')?.touched">
                      Password must be at least of 8 characters
                    </mat-error>
                    
                </mat-form-field>
                <mat-form-field  class="example-full-width pb-1">
                    <mat-label>Re enter your password</mat-label>
                    <input matInput [type]="hideRpwd ? 'password' : 'text'" formControlName="repwd">
                    <button mat-icon-button matSuffix (click)="hideRpwd = !hideRpwd" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRpwd">
                      <mat-icon>{{hideRpwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  
                    <mat-error *ngIf="resetForm.get('repwd')?.hasError('required') && resetForm.get('repwd')?.touched">
                      Password is required
                    </mat-error>
                    <mat-error *ngIf="resetForm.get('repwd')?.hasError('minlength') && resetForm.get('repwd')?.touched">
                      Password must be at least of 8 characters
                    </mat-error>
                    <mat-error *ngIf="resetForm.get('repwd')?.hasError('passwordMismatch') && resetForm.get('repwd')?.touched">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
                
                <div class="d-flex flex-row justify-content-center align-items-center p-0" >
                    <a routerLink="../login" class="ms-auto text-decoration-none">Back?</a>
                  </div>
                  <button mat-flat-button [style]="btn" [disabled]="resetForm.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>